@{
    ViewBag.Title = "Inicio de Sesión";
}

<div class="row my-4">
    <div class="col-lg-12 text-center">
        <h1>Iniciar Sesión</h1>
    </div>
    <div class="mx-auto pt-4">
        <input type="text" placeholder="Usuario" class="form-control my-2" id="usuario" />
        <input type="password" placeholder="Contraseña" class="form-control my-4 pr-4" id="contraseña" />
    </div>
    <div class="w-100 text-center btt">
        <button class="btn btn-success" id="LogIn">
            Iniciar Sesion
        </button>
    </div>
</div>

<div class="row new my-5">
    <p>¿No tienes cuenta? @Html.ActionLink("Registrarse", "Registro", "Home")</p>
</div>

@section scripts{
    <script src="~/Content/js/Login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.20/dist/sweetalert2.all.min.js"></script>
}