################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Preguntas_Respuestas/bin
/Preguntas_Respuestas/obj/Debug
